@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StyreneAWeb-Regular';
  src: url('/fonts/StyreneAWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'StyreneAWeb-Regular', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 16 100% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 20%; /* #333333 */
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 0%; /* #000000 */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 50%; /* orange-red */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 16 100% 50%;
    --chart-1: 0 0% 98%;
    --chart-2: 158 78% 57%; /* mint green */
    --chart-3: 217 91% 60%; /* blue */
    --chart-4: 142 76% 36%;
    --chart-5: 48 96% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply text-[14px];
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}